.container{
    display: flex; 
    align-items: center; 
    justify-content:first baseline;
    width: 800px; 
    height: 500px; 
    background-color: aqua;
}

.component{
    width:100px;
    background-color: brown;
}